body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.world-wrap {
  display: block;
  width: 1280px;
  height: 720px;
  margin: 20px auto;
  position: relative; }

.tools-panel {
  position: absolute;
  top: 0;
  left: 0; }
  .tools-panel__button {
    margin-right: 2px; }

.palette {
  position: absolute;
  top: 0;
  right: 0; }

.button {
  width: 55px;
  height: 55px;
  cursor: pointer;
  outline: none; }
